body,html{
	height:100%;
	background: #000000;
}
#canvas {
	padding:0; 
	margin:0; 
	position:absolute; 
	background-color:#000000;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 300px;
	margin-left: -250px;
	margin-top: -150px;
}